{
    "presets": [
        "@babel/env"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ],
        ["@babel/transform-runtime"]
    ]
}
